{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Lafayette Soccer Project - About</title>
    <!-- bootstrap stuff -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
    <!-- google font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin&display=swap">
    <!-- map applicaton static files -->
    <link rel="shortcut icon" href="{% static 'map/img/favicon.ico' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'map/css/about.css' %}">
  </head>
  <body>
    <div id="banner">
      <div class="toolbar">
        <a href='/'>
          <img class = "block" src = "{% static 'map/img/logo.png' %}" width = 195 height = 66>
        </a>
        <p class="block">Talent is in the Data</p>
        <div id='about_toolbar'>

            <a href='/upload' class="badge badge-dark">Upload Data</a>

            <a href='/' class="badge badge-dark">Main</a>

            <a href='/admin' class="badge badge-dark">Admin Login</a>

        </div>
      </div>
    </div>

    <div class="header">
      <h2 class="name">About The Project</h2>
    </div>

    <p class="info">
      Soccer Hotspots is a data visualization project intended
      to locate high schools of Division-One collegiate soccer
      players who have a proven record of success. Literature from authors
      such as <a href = "https://marksbookreviews.wordpress.com/2012/04/01/the-talent-code-by-daniel-coyle/" target = "_blank">
      Daniel Coyle </a> suggests that talent isn't born, rather developed. In the football world, for example,
      Super Bowl MVP quarterbacks Nick Foles and Drew Brees both hail from Westlake High School in Austin,
      Texas, an acclaimed football powerhouse. This project applies similar logic to soccer.
    </p>

    <p class="info">
      Using roster data from 34 colleges and universities with rigorous admission standards
      across 11 Division-One conferences from 2006-2018, we compiled a web application
      that allows Lafayette College's Men's Soccer recruiters to strategically locate the
      players they need. By filtering players based on their league, college, position, number of years
      they were a starter (playing at least 50% of season games), and number of
      years they received an all-conference award, recruiters have great
      versatility in finding talent. We hope our software
      will help streamline the recruiting process for future seasons and
      supplement current practices.
    </p>

    <p class="info">
      Our visualization is made up of two components: a heat map and markers.
      Both components can be toggled by the user. Each marker represents a high
      school that had at least one player that met the query criteria. Each marker
      has a label for the number of players who attended that high school under the
      given the criteria. When the map is zoomed out, markers will cluster.
      The heatmap is a good method for visualizing the concentration of players.
      The more players a high school has per query, the more red the area.
    </p>

    <div class="header">
      <h2 class="name">
        The Product Owner
      </h2>
    </div>

    <div class="bio">
      <div class = "bio-section-1">
        <h4 class="bio-name">
          Dennis Bohn
        </h4>
        <img class = "profile-img" src = "{% static 'map/img/stick_figure.jpg' %}" width = 200 height = 200>
      </div>

      <div class = "bio-section-2">
        <p class = "bio-info" id="bohnBioInfo">
          Mr. Bohn is Lafayette College's Men's Soccer Head Coach. He proposed
          the project in the Fall of 2018. Read more about Coach Bohn's accomplishments
          <a href = "https://www.goleopards.com/sports/mens-soccer/roster/coaches/dennis-bohn/511" target="_blank">
            here.
          </a>
        </p>
      </div>
    </div>

    <div class="header">
      <h2 class="name">
        The Developers
      </h2>
    </div>

    <div class = "bio">
      <div class = "bio-section-1">
        <h4 class="bio-name">
          Cameron Zurmuhl
          <div id="badgeDiv">
            <button class = "linkedin" id="camProfile"></button>
          </div>
        </h4>
        <img class = "profile-img" src = "{% static 'map/img/cameron_profile_pic.jpg' %}" width = 200 height = 200>
      </div>

      <div class = "bio-section-2">
        <p class = "bio-info" id="camBioInfo">
          Cameron is a graduate of Lafayette College (class of 2020) and holds
          a B.S. in Computer Science. He is from Warminster, Pennsylvania,
          a suburban township of Philadelphia. Cameron piloted the project with Coach Bohn
          as an EXCEL Scholar in 2018. After graduation, he will be working as a software
          engineer at JPMorgan Chase & Co. while pursuing his M.S. in Computer Science at Georgia Tech.
        </p>
      </div>

      <div class = "bio_section-1">
        <h4 class="bio-name">
          Joseph Teddick
          <div id="badgeDiv">
            <button class = "linkedin" id="josephProfile"></button>
          </div>
        </h4>
        <img class = "profile-img" src = "{% static 'map/img/joseph_profile_pic.jpg' %}" width = 200 height = 200>
      </div>

      <div class = "bio-section-2">
        <p class = "bio-info" id="josephBioInfo">
          Joseph is a graduate of Lafayette College (class of 2020) and holds
          a B.S. in Computer Science and a minor in Mathematics. He is from Washington, NJ.
         After graduation, he will be working as a software engineer at Johnson & Johnson in Raritan, NJ.
        </p>
      </div>

      <div class = "bio_section-1">
        <h4 class="bio-name">
          Matt Gerber
          <div id="badgeDiv">
            <button class = "linkedin" id="mattProfile"></button>
          </div>
        </h4>
        <img class = "profile-img" src = "{% static 'map/img/matt_profile_pic.jpg' %}" width = 200 height = 200>
      </div>

      <div class = "bio-section-2">
        <p class = "bio-info" id="mattBioInfo">
          Matt is a Computer Science graduate of Lafayette College with an interest in Tech Writing.
          He is from Franklin Lakes, New Jersey. He has been a part of many on campus activities
          and organizations, including serving as the general manager for WJRH, the college’s own radio station,
          as well as working for the Lafayette College Writing Program as a Writing Associate.
        </p>
      </div>

      <div class = "bio_section-1">
        <h4 class="bio-name">
          Xingwen Wei
        </h4>
        <img class = "profile-img" src = "{% static 'map/img/xingwen_profile_pic.jpg' %}" width = 200 height = 200>
      </div>

      <div class = "bio-section-2">
        <p class = "bio-info" id="xingwenBioInfo">
          Xingwen is a graduate of Lafayette College (class of 2020) and holds
          a B.S. in Computer Science. He does not know where he will go for his graduate study at this moment.
        </p>
      </div>
    </div>
    <script src="{% static 'map/js/aboutPageButtons.js' %}"></script>
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
  </body>
</html>
