<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Lafayette Soccer Project</title>
  </head>
  <body>
    <div id="header">
      <h2 id="name">Player Locator</h2>
      <p>
        Select filters to find players of interest. Then, select submit button
        to find players.
      </p>


    <div id="dropdowns">
    </div>

    <div id="go-button">
    </div>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&callback=initMap">
   </script>


  </body>
</html>
