<!DOCTYPE html>

{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- bootstrap stuff -->
    <!-- map applicaton static files -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- google font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin&display=swap">
    <link rel="shortcut icon" href="{% static 'map/img/favicon.ico' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'map/css/stylesheet.css' %}">
    <!-- tail select -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/tail.select@latest/css/bootstrap4/tail.select-default.css">


    <title>Lafayette Soccer Project</title>
  </head>

  <body>
    <div class="header">
      <h2 id="name">Soccer Hotspots</h2>
      <p id="instruction">
        Select filters to find players of interest. Then, click the submit button
        to view their high schools.
      </p>
    </div>

    <div class="selectors">
      <select class="select-search" multiple id="collegeLeagueSelector">
          <optgroup label="College League">
            {% for league in leagues %}
              <option>{{league}}</option>
            {% endfor %}
          </optgroup>
      </select>

      <select class="select-search" multiple id="collegeSelector">
          <optgroup label="College">
             {% for college in colleges %}
                <option>{{college}}</option>
             {% endfor %}
          </optgroup>
      </select>

      <select class="select-search" multiple id="positionSelector">
          <optgroup label="Position">
              {% for position in positions %}
                <option>{{position}}</option>
              {% endfor %}
          </optgroup>
      </select>

      <select class="select" multiple id="starterSelector">
          <option>0</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4+</option>
      </select>

      <select class="select" multiple id="allConferenceSelector">
          <option>0</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4+</option>
      </select>
    </div>

    <div class = "submit-button">
      <button type="button" class="btn btn-primary btn-lg" data-toggle="button" aria-pressed="false" onclick="submit()" id="button1">
        Submit
      </button>
    </div>

    <div id = "map"></div>

    <div class = "csv-button">
      <button type="button" class="btn btn-primary btn-small" data-toggle="button" aria-pressed="false" onclick="csv()" id="button2">
        CSV
      </button>
    </div>
    <div class ="table">
      <!--TODO: work on the table -->
      <table class="table table-striped table-hover table-dark" id="resultTable">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="footer">
        <p>
          Developers:
          <br>
          <a href = "https://www.linkedin.com/in/cameron-zurmuhl/" target = "_blank" >Cameron Zurmuhl '20</a>
          <br>
          <a href = "https://www.linkedin.com/in/joseph-teddick-670242191/" target = "_blank">Joseph Teddick '20</a>
          <br>
          Xingwen Wei '20
          <br>
          Matthew Gerber '20
          <br>
          <br>
          Product Owner:
          <br>
          <a href = "https://www.goleopards.com/sports/mens-soccer/roster/coaches/dennis-bohn/511" target = "_blank">Dennis Bohn</a>
        </p>
    </div>
    <script src="{% static 'map/js/map.js' %}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&callback=initMap"></script>
   <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <!-- Popper js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <!--Bootstrap.js -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!--Tail select -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/tail.select@0.5.15/js/tail.select.min.js"></script>
    <script src="{% static 'map/js/buttons.js' %}"></script>
    <script src="{% static 'map/js/selectors.js' %}"></script>
  </body>
</html>
