 body {
  background-color: #21252b;
}

a {
  color: 	#00BFFF
}

hr.line_sep {
  border: 1px solid white;
  margin-top: 0px;
}


#about_toolbar{
  position: absolute;
  font-size: 20px;
  right:10px;
  top: 0px;
}

.footer_image {
  background-repeat: no-repeat;
  margin-top: 50px;
  text-align: center;
  margin-bottom: 50px;
}

#footer_name {
  color: white;
}

.button_default {
  height: 86px;
  line-height: 76px;
  vertical-align: top;
  text-align: center;
}

.block{
  display: inline;
  padding-left: 20px;
  background-color: #21252b;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}


.header-button{
  text-align: right;
  margin-top: 5px;
}

.header{
  text-align: center;
  margin-bottom: 50px;
  padding-top: 50px;
  font-weight: bold;
  color: white;
}

.info {
  font-size: 125%;
  color: white;
  text-align: justify;
  margin-left: 70px;
  padding-right: 70px;
}

.name{
  font-family: 'Cabin', sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
}

.bio{
  display: inline-block;
}

.bio-name{
  color: white;
  font-family: 'Cabin', sans-serif;
  margin-left: 60px;
}

.bio-info{
  color: white;
  text-align:justify;
  margin-left: 300px;
  padding-right: 70px;
  font-size: 125%;
}

.profile-img{
  margin-top: 10px;
  margin-left: 50px;
}

.linkedin{
  box-shadow: 0 1px 2px rgba(0,0,0,0.6);
  transition: all 0.3s ease-in-out;
  margin-left: 10px;
  background: url('../img/linkedin_icon.PNG');
  background-size: 100%;
  padding-top: 5px;
  border: none;
  width: 30px;
  height: 30px;
}

/* Scale up the box */
.linkedin:hover {
  transform: scale(1.1, 1.1);
}


#adminButton{
  border: none;
  margin-right: 2px;
}

#returnButton{
  border:none;
  margin-right: 20px;
}

#camBioInfo{
  position: relative;
  bottom: 200px;
}

#xingwenBioInfo{
  position: relative;
  bottom: 200px;
}

#josephBioInfo{
  position: relative;
  bottom: 200px;
}

#mattBioInfo{
  position: relative;
  bottom: 200px;
}

#bohnBioInfo{
  position: relative;
  bottom: 200px;
}

#badgeDiv{
  display: inline-block;
  position: relative;
  top: 6px;
}
