[role="banner"]{
    background: black;
    overflow: hidden;
    margin: 0;
    padding: 10px 0 6px;
    position: relative;
    z-index: 1;
}

.block{
  display: inline;
}

#memo{
  padding-left: 20px;
  color: #44B78B;
}

.toolbarlink{
  padding: 60px 20px;
  font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
  font-weight: bold;
}


body {
  background-color: #21252b;
}

th{
  text-align: center;
  cursor: pointer;
  background-color: #070363;
}

td {
  text-align: center;
}

tr{
  cursor: pointer;
}

a {
  color: white;
}

h6 {
  color: white;
}

label{
  color: white;
}
.container-bgimage{
  background-image: url('../img/grass.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.footer_image {
  background-image: url('../img/field.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  padding-top: 150px;
  text-align: center;
}

.header{
  text-align: center;
  margin-bottom: 5px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

.selectors{
  text-align: center;
  width: 100%;
}

.tail-select .select-label {
  padding: 0 0 0 0;
}

.submit-button{
  text-align: center;
  margin-top: 275px;
  margin-bottom: 150px;
}

.header-button{
  text-align: right;
  margin-top: 5px;
  margin-right: 5px;
  display: inline;
  position: absolute;
  right:0;
}

.table-tools{
  display: flex;
}

.fouc{
  visibility: hidden;
}

.dataTables_length{
  margin-left: 2.5%;
}

.dataTables_filter{
  margin-right: 2.2%;
}

#resultTable_paginate{
  margin-right: 1.8%;
}


#map{
  height: 700px;
  width: 79%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

#instruction {
  font-size: 150%;
  color: white;
}

#name{
  font-family: 'Cabin', sans-serif;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}

#footer_name{
  font-family: 'Cabin', sans-serif;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}

#button1{
  width: 300px;
}

#button2{
  margin-top: 25px;
  margin-left: 15px;
  margin-bottom: 25px;
  width: auto;
  background: #1d6f42;
  border-color: #1d6f42;
}

#button3{
  border: none;
  margin-right: 2px;
}

#button4{
  border:none;
  margin-right: 20px;
}

#noQuerySelected{
  text-align: center;
}

#resultTable{
  margin-bottom: 300px;
  margin-top: 10px;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}
