body {
  background-color: #010133;
}

a {
  color: white;
}

.header{
  text-align: center;
  margin-top: 50px;
}

.footer {
  text-align: center;
  color: white;
  font-size: 80%;
}

.selectors{
  margin-left: 50px;
  margin-right: auto;
}

#name{
  font-family: 'Cabin', sans-serif;
  font-weight: bold;
  color: white;
  margin-top:50px;
}

#instruction {
  font-size: 150%;
  color: white
}

#map{
  height: 600px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  margin-bottom: 125px;
}
